{% extends "layout.html" %}
{% block content %}
    <div style="background-color:white;text-align:center;">
    <h1>JokaMediatz</h1>
    </div>
    <div style="background-color:white">
    <p>
      &nbsp&nbspJokamediatz is a social networking site that
      &nbsp&nbspconnect people, starting from Tanzania East Africa to every country in Africa:<br>
      &nbsp&nbspAs a social media company our vision and mission is to connect each and every one in Tanzania,<br>
      &nbsp&nbspthen to all people in Africa.
      <ul>
       You can do the following with JokaMediatz<br>
        <li>Post the new event and current issue found on your location</li>
        <li>You can share your photo with people followed you</li>
        <li>See people's albums by following them</li>
        <li>Chat with people</li>
        <li>Find the new friends</li>
        <li>and other features found in JokaMediatz</li>
      </ul>

      &nbsp&nbspThe more interesting things is
      <ul>
        <li>Acces the JokaNews for new updates and current issues</li>
        <li>Acces the JokaForum to disscus on new different topics on your location</li>
        <li>get started by registering here today<a class="nav-item nav-link" href="{{ url_for('register') }}">Register now</a></li>
      </ul>


      &nbsp&nbspfor more infomation contact us
      <ul>
        <li><a class="nav-item nav-link" href="https://mail.google.com/mail/u/1/#inbox">jokamediatz@gmail.com</a><li>
        <li><a class="nav-item nav-link" href="#">+255713695237</a><li>
      </ul>

    </p>
    </div>
{% endblock content %}
